<ul>
    {% for article in articles %}
        <li>
            id: {{ article.id }} name: {{ article.title }}
            <a href="{{ path('article_author', { 'author': article.author }) }}">{{ article.author }}</a>
        </li>
    {% else %}
        <li>Pas d'article trouvé.</li>
    {% endfor %}
</ul>