<ul class="list_article">
    {% for article in articles %}
        <li style="background-color: #99CDD8;">
            <h3>Titre de l'article : {{ article.title }} </h3>
            Tag : <a href="{{ path('article_tag', { 'tag': article.tag }) }}">{{ article.tag }}</a>
        </li>
    {% else %}
        <li>Pas d'article trouvé.</li>
    {% endfor %}
</ul>