{% extends('::base.html.twig') %}

{% block title %}Créer un article {% endblock %}

{% block body %}

    <div style="border: 1px solid black;" class="text-center col-md-4 col-md-offset-4">
    <h1>Ajout d'un article</h1>

    </br>
    <hr>
{{ form_start( form )}}
{{ form_widget( form )}}
{{ form_end ( form )}}

    </div>

{% endblock %}