{% extends "::base.html.twig" %}

{% block body %}

<div style="border: 1px solid black;" class="text-center col-md-4 col-md-offset-4">
<h2> {{ articles.title }}</h2>
<hr>
<p>{{ articles.content }}</p>

    <strong><a href="{{ path('article_list') }}">Retour à la list des articles</a></strong>
</div>
    <a href="{{ path('article_list') }}">Retour à la list des articles</a>

{% endblock %}