{% extends('::base.html.twig') %}

{% block body %}
<div style="border: 1px solid black;" class="text-center col-md-4 col-md-offset-4">
    <h1>Ajout d'un tag</h1>

    </br>
    <hr>

   <p> {{ form(form) }}</p>


    </div>
{% endblock %}